<div class="row">
  <div class="col-md-6 mx-auto mx-2">
    <% if current_user %>
      <div class="mid-2">
        <div class="mid-2-1 mx-2">
          <img class="img user-img" src="<%= asset_path('user.png') %>" alt="">
        </div>
        <div class='mid-2-2'>
          <div class="mid-input">
            <textarea class="tweet-input" placeholder="What's happening"></textarea>
          </div>
          <div class="mid-icon">
            <div>
            </div>
            <div>
              <a class="mid-tweet disabled">Tweet</a>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="mt-2">
      <div id="tweet-feeds">
        <%= render 'tweet_feeds' %>
      </div>
    </div>
  </div>
</div>
