/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.text-blue {
  color: #1da1f2 !important;
}

textarea {
  height: 100%;
  width: 85%;
}

.tweet-content {
  color: black;
}

.tweet-content:hover {
  color: black;
}

.btn-blue {
  color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;
}

a:hover {
  text-decoration: none;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.mid-2 {
  display: flex;
  height: 120px;
  border-bottom: 2px solid #1da1f2;
  padding-bottom: 10px;
  flex-direction: row;
}

.comment-mid-2 {
  display: flex;
  height: 140px;
  padding-bottom: 10px;
  flex-direction: row;
  border-bottom: 1px solid #e4e4e4;
}

.mid-2-1 {
  width: 12%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}

.mid-2-2 {
  width: 88%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 10px;
}

.comment-mid-2-2 {
  width: 88%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
}

.mid-input {
  height: 70%;
}

.mid-input input {
  font-size: 17px;
  outline: none;
  width: 100%;
  border: none;
}

.mid-icon {
  height: 30%;
  display: flex;
  justify-content: space-between;
  color: #00acee;
}

.mid-icon .mid-tweet, .mid-reply {
  margin-left: 10px;
  color: white;
  background: #00acee;
  padding: 10px 15px;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 500;
  cursor: default;
  opacity: .6;
}

.tb {
  display: flex !important;
}

.tweet {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
}

.rt:hover {
  color: rgb(48, 185, 48);
}

.fav:hover {
  color: rgb(238, 24, 95);
}

.fav.liked {
  color: rgb(238, 24, 95);
}

.rt.rtd {
  color: rgb(48, 185, 48);
}

.fav {
  color: dimgray;
}

.tweet-show {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 10px;
}
.tweet-1 {
  width: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
}
.tweet-2 {
  width: 88%;
  padding-top: 10px;
  padding-left: 10px;
}
.tweet-2 .t-1 {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
.t-1 .name {
  font-weight: 700;
  margin-right: 7px;
  font-size: 17px;
}
.t-1 .uname {
  font-weight: 400;
  color: dimgray;
  margin-right: 7px;
  font-size: 15px;
}

.joined-date {
  font-weight: 400;
  color: dimgray;
  font-size: 15px;
}

.replying {
  margin-top: -5px;
}

.t-2 {
  margin-bottom: 10px;
  max-width: 100%;
  box-sizing: border-box;
  padding-right: 25px;
}
.t-2 span {
  font-size: 15px;
  max-width: 100%;
}
.t-3 {
  display: flex;
  padding: 10px 0px;
}
.t-3 div {
  font-size: 15px;
  margin-left: 15px;
  margin-right: 80px;
  color: gray;
  cursor: pointer;
}

.tweet-time {
  font-size: 15px;
  margin-right: 80px;
  color: gray;
  cursor: pointer; 
}

.user-img {
  width: 70px;
  height: 70px;
}
